{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="activity-hero" style="
        background-image: url({{ page.media['banner.jpg'].url }});
    ">
        <h1>{{ page.header.full_title }}</h1>
        <h2>{{ page.header.author }}</h2>
    </div>
    <div class="activity-columns">
        <div class="activity-column activity-column-left">
            <div class="follow-scroll">
                {% set toc = page.content|tocify %}
                <nav class="activity-nav">
                {% for element in toc %}
                    <p>{{ element.text }}</p>
                {% endfor %}
                </nav>
            </div>
        </div>
        <div class="activity-column activity-column-middle">
            {{ page.content|toc }}
        </div>
        <div class="activity-column activity-column-right">
            <div class="follow-scroll">
                <iframe class="ytplayer" type="text/html" src="{{ page.header.video }}" frameborder="0"></iframe>
            </div>
        </div>
    </div>
{% endblock %}
