{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/base-min.css', 100) %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', 99) %}
        {% do assets.addCss('theme://css-compiled/custom.css', 98) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
        {% do assets.addJs('theme://js/graphemescope.js', 99) %}
        {% do assets.addJs('theme://js/start-scope.js', 98) %}
        {% do assets.addJs('theme://js/expand-answers.js', 97) %}
        {% do assets.addJs('theme://js/expand-content.js', 96) %}
    {% endblock %}
    {{ assets.js() }}

    <script type="text/javascript">
        window.kaleidoscopeImages = [
            "{{ url('theme://images/scope-3.jpg') }}",
            "{{ url('theme://images/scope-1.jpg') }}",
            "{{ url('theme://images/scope-2.jpg') }}",
            "{{ url('theme://images/scope-4.jpg') }}",
            "{{ url('theme://images/scope-5.jpg') }}",
        ];
    </script>

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
    <nav class="header">
        <div class="header-side">
            <a class="logo" href="{{ base_url == '' ? '/' : base_url }}">
                <img src="{{ url('theme://images/kaleidoscope-logo.png') }}">
                {{ config.site.title }}
            </a>
            <a class="nav-link" href="{{base_url}}/content">
                Activities
            </a>
            <a class="nav-link" href="#">
                Get Involved
            </a>
            <a class="nav-link" href="#">
                Professional Development
            </a>
        </div>
        <div class="header-side">
            <a href="#">
                <i class="fa fa-search nav-search"></i>
            </a>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <section id="body">
        {% block content %}{% endblock %}
    </section>
{% endblock %}

{% block footer %}
    <div class="footer text-center">
        <div class="footer-background">
            <div class="footer-background-half"></div>
            <div class="footer-background-half footer-flip"></div>
        </div>
        <div class="footer-foreground">
            <h2>
                <img class="footer-logo" src="{{ url('theme://images/logo-white.png') }}">
                <span>Kaleidoscope</span>
                <div class="footer-underline"></div>
            </h2>
            <div class="footer-links">
                <div class="footer-row">
                    <a href="#" class="footer-link">Activities</a>
                    <a href="#" class="footer-link">Activities</a>
                    <a href="#" class="footer-link">Activities</a>
                </div>
                <div class="footer-row">
                    <a href="#" class="footer-link">Professional Development</a>
                    <a href="#" class="footer-link">Professional Development</a>
                    <a href="#" class="footer-link">Professional Development</a>
                </div>
                <div class="footer-row">
                    <a href="#" class="footer-link">Get Involved</a>
                    <a href="#" class="footer-link">Get Involved</a>
                    <a href="#" class="footer-link">Get Involved</a>
                </div>
                <div class="footer-row">
                    <a href="#" class="footer-link">UW MRSEC Website</a>
                    <a href="#" class="footer-link">UW MRSEC Website</a>
                    <a href="#" class="footer-link">UW MRSEC Website</a>
                </div>
            </div>
            <h3 class="footer-made">Made in partnership with</h3>
            <h3 class="footer-fieldday">
                <a href="https://fielddaylab.wisc.edu/">
                    <img src="{{ url('theme://images/fieldday-logo.png') }}" alt="Field Day">
                </a>
            </h3>
        </div>
    </div>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
