<div class="content-container">

<h1 class="explore-header">Explore, Learn, Discover</h1>

<div class="content-grid">
  {% for postRow in taxonomy.findTaxonomy({'page type': 'Content'}).batch(4) %}
    <div class="content-row">
      {% for post in postRow %}
        <div class="content-entry">
          <div class="content-image" style="
            background-image: url({{ post.media['image.jpg'].url }});
          "></div>
          <div class="content-text">
            <h3>{{post.title}}</h3>
            <p>{{post.header.description}}</p>
          </div>
          <div class="content-boxes">
            <div class="content-box content-type">
              {% if post.header.taxonomy['resource type'][0] == 'Games' %}
                <div class="content-type-icon" style="background-image: url({{ url('theme://images/type-games.png') }})"></div>
              {% elseif post.header.taxonomy['resource type'][0] == 'Labs' %}
                <div class="content-type-icon" style="background-image: url({{ url('theme://images/type-labs.png') }})"></div>
              {% elseif post.header.taxonomy['resource type'][0] == 'Video' %}
                <div class="content-type-icon" style="background-image: url({{ url('theme://images/type-video.png') }})"></div>
              {% elseif post.header.taxonomy['resource type'][0] == 'Articles' %}
                <div class="content-type-icon" style="background-image: url({{ url('theme://images/type-articles.png') }})"></div>
              {% endif %}
            </div>
            <div class="content-box">
              5-99
            </div>
            <div class="content-box">
              {{post.header.taxonomy.time[0]}}
            </div>
            <div class="content-box content-arrow">
              <a href="{{ post.url }}">
                <img src="{{ url('theme://images/right-arrow.png') }}">
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="content-details">
      <div class="content-details-controls">
        <div class="content-details-controls-x">
          <img src="{{ url('theme://images/controls-x.png') }}">
        </div>
        <div class="content-details-controls-arrows">
          <div class="details-content-controls-prev">
            <img src="{{ url('theme://images/controls-left.png') }}">
          </div>
          <div class="details-content-controls-next">
            <img src="{{ url('theme://images/controls-right.png') }}">
          </div>
        </div>
      </div>
      {% for post in postRow %}
        <div class="content-details-item">
          <div class="content-details-left">
            <div class="content-details-left-top">
              <div class="content-details-image" style="
                background-image: url({{ post.media['image.jpg'].url }});
              "></div>
              <div class="content-details-text">
                <h2>{{post.title}}</h2>
                <p>Paragraph goes here.</p>
              </div>
            </div>
            <div class="content-details-left-bottom">
              <a href="{{ post.url }}" class="content-details-start">Start</a>
            </div>
          </div>
          <table class="content-details-table">
            <tr>
              <td colspan="2">
              </td>
            </tr>
            <tr>
              <td>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
              </td>
              <td>
              </td>
            </tr>
          </table>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>

</div>
