<div class="hero-outer">
    <div class="hero-container">
      <div class="dark-overlay"></div>
    </div>
    <div class="hero-controls">
        <h3 class="hero-controls-toggle">What is this?</h3>
        <div class="hero-options">
            <img class="hero-option" src="{{ url('theme://images/scope-option-1.png') }}">
            <img class="hero-option" src="{{ url('theme://images/scope-option-2.png') }}">
            <img class="hero-option" src="{{ url('theme://images/scope-option-3.png') }}">
            <img class="hero-option" src="{{ url('theme://images/scope-option-4.png') }}">
        </div>
        <div class="hero-explain">
            <div class="hero-explain-content">
                Element 1 explanation happens in this text box.
            </div>
            <div class="hero-explain-content">
                Element 2 explanation happens in this text box.
            </div>
            <div class="hero-explain-content">
                Element 3 explanation happens in this text box.
            </div>
            <div class="hero-explain-content">
                Element 4 explanation happens in this text box.
            </div>
            <div class="hero-explain-content">
                Element 5 explanation happens in this text box.
            </div>
        </div>
    </div>
    <div class="hero-overlay">
        <p class="hero-logo">
            <img src="{{ url('theme://images/logo-hero.png') }}">
        </p>
        <h2 class="hero-presents">
            <span class="hero-line"></span>
            UW MRSEC presents:
            <span class="hero-line"></span>
        </h2>
        <h1 class="hero-title">
            Kaleidoscope
        </h1>
        <h2 class="hero-blurb">
            See science and engineering<br>
            through a new lens.
        </h3>
    </div>
</div>
