<div class="hero-outer">
    <div class="hero-container">
      <div class="dark-overlay"></div>
    </div>
    <div class="hero-controls">
        <!-- <h3 class="hero-controls-toggle">What is this?</h3> -->
        <div class="hero-options">
            <span class="hero-option"><img src="{{ url('theme://images/scope-3.jpg') }}"></span>
            <span class="hero-option"><img src="{{ url('theme://images/scope-1.jpg') }}"></span>
            <span class="hero-option"><img src="{{ url('theme://images/scope-2.jpg') }}"></span>
            <span class="hero-option"><img src="{{ url('theme://images/scope-4.jpg') }}"></span>
        </div>
        <div class="hero-explain">
            <div class="hero-explain-content">
                <h2>Material Name</h2>
                <div class="hero-explain-thumb"><img src="{{ url('theme://images/scope-3.jpg') }}"></div>
                <p>A brief explanation of the material in question will be featured here. This would be a great place to link to something exciting, or just feature a new finding at MRSEC. This is a great place to get people excited about a world that they don't typically encounter.</p>
            </div>
            <div class="hero-explain-content">
                <h2>Material Name</h2>
                <div class="hero-explain-thumb"><img src="{{ url('theme://images/scope-1.jpg') }}"></div>
                <p>A brief explanation of the material in question will be featured here. This would be a great place to link to something exciting, or just feature a new finding at MRSEC. This is a great place to get people excited about a world that they don't typically encounter.</p>
            </div>
            <div class="hero-explain-content">
                <h2>Material Name</h2>
                <div class="hero-explain-thumb"><img src="{{ url('theme://images/scope-2.jpg') }}"></div>
                <p>A brief explanation of the material in question will be featured here. This would be a great place to link to something exciting, or just feature a new finding at MRSEC. This is a great place to get people excited about a world that they don't typically encounter.</p>
            </div>
            <div class="hero-explain-content">
                <h2>Material Name</h2>
                <div class="hero-explain-thumb"><img src="{{ url('theme://images/scope-4.jpg') }}"></div>
                <p>A brief explanation of the material in question will be featured here. This would be a great place to link to something exciting, or just feature a new finding at MRSEC. This is a great place to get people excited about a world that they don't typically encounter.</p>
            </div>
        </div>
    </div>
    <div class="hero-overlay">
        <p class="hero-logo">
            <img src="{{ url('theme://images/logo-hero.png') }}">
        </p>
        <h2 class="hero-presents">
            <span class="hero-line"></span>
            UW MRSEC presents:
            <span class="hero-line"></span>
        </h2>
        <h1 class="hero-title">
            Kaleidoscope
        </h1>
        <h2 class="hero-blurb">
            See science and engineering<br>
            through a new lens.
        </h3>
    </div>
</div>
