<div class="columns-outer">
  {% set chunks = content|split('<hr />') %}
  <div class="columns-beaker">
    <span class="columns-line-decoration"></span>
    <img src="{{ url('theme://images/columns-beaker.png') }}">
    <span class="columns-line-decoration"></span>
  </div>
  <div class="columns-header">
    {{ chunks[0] }}
  </div>
  <div class="columns section-pad noheader">
    <div class="column pad">
      <img src="{{ url('theme://images/column-diamond-1.png') }}">
      {{ chunks[1] }}
    </div>
    <div class="column pad">
      <img src="{{ url('theme://images/column-diamond-2.png') }}">
      {{ chunks[2] }}
    </div>
    <div class="column pad">
      <img src="{{ url('theme://images/column-diamond-3.png') }}">
      {{ chunks[3] }}
    </div>
  </div>
</div>
